<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Barcha OTP kodlar</title>
    <style>
        body { font-family: sans-serif; margin: 2em; }
        table { width: 50%; border-collapse: collapse; }
        th, td { border: 1px solid #dddddd; text-align: left; padding: 8px; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>

<h1>Mavjud OTP kodlar ro'yxati</h1>

<table th:if="${!otps.isEmpty()}">
    <thead>
    <tr>
        <th>OTP Kod</th>
        <th>Telefon raqam</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="otp : ${otps}">
        <td th:text="${otp.dateTime}">123456</td>
        <td th:text="${otp.smsMessage}">+998901234567</td>
    </tr>
    </tbody>
</table>

<div th:if="${otps.isEmpty()}">
    <p>Hech qanday OTP kod topilmadi.</p>
</div>

</body>
</html>